In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
dataset = pd.read_csv('./csv/train.csv' ,encoding='utf-8')

In [28]:
dataset.corr().round(3)

             PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
PassengerId        1.000    -0.005  -0.035  0.037 -0.058 -0.002  0.013
Survived          -0.005     1.000  -0.338 -0.077 -0.035  0.082  0.257
Pclass            -0.035    -0.338   1.000 -0.369  0.083  0.018 -0.549
Age                0.037    -0.077  -0.369  1.000 -0.308 -0.189  0.096
SibSp             -0.058    -0.035   0.083 -0.308  1.000  0.415  0.160
Parch             -0.002     0.082   0.018 -0.189  0.415  1.000  0.216
Fare               0.013     0.257  -0.549  0.096  0.160  0.216  1.000

In [29]:
dataset.groupby('Pclass').mean(3)

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550

In [30]:
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
from sklearn.linear_model import LogisticRegression
regression = LogisticRegression()

In [32]:
X_age = dataset.loc[:,['Pclass','Age']]
X_age.isnull().sum()

Pclass      0
Age       177
dtype: int64

In [33]:
X_age = X_age.dropna()